<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %>></title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/chooseArea.css">
</head>
<body>
<section class="headInfo">
  <div class="myOrder">
    <img src="images/peo_02.png" alt="我的订单">
    <span>我的订单</span>
  </div>
  <div class="phone">
    <img src="images/headerIphoneIcon.png" alt="phoneLog" class="phoneImg">
    <img src="images/headerIphone_950.png" alt="phoneNumber" class="phoneNum">
  </div>
</section>
<section class="center">
  <nav class="nav">
    <ul>
      <li>&nbsp</li>
      <li><a href="#">西双版纳</a></li>
      <li><a href="#">长白山</a></li>
      <li class="banner"><img src="images/bannera.png" alt="banner"></li>
      <li><a href="#" class="nav_selected">武汉</a></li>
      <li><a href="#">南昌</a></li>
      <li><a href="#">合肥</a></li>
    </ul>
  </nav>
  <div class="main">
    <div class="orderTicketOnline">
      <div class="tips">在线订票</div>
      <ul class="step_two">
        <li class="one"><span>1.选择日期和场次</span></li>
        <li class="two"><span>2.选择分区和票价</span></li>
        <li class="three"><span>3.确认座位和支付</span></li>
      </ul>
      <div class="area">
        <ul class="img">
          <li class="area1 no" performanceId="" areaId="1" data-areaName="D1"></li>
          <li class="area2 no" performanceId="" areaId="2" data-areaName="C1"></li>
          <li class="area3 no" performanceId="" areaId="3" data-areaName="A1"></li>
          <li class="area4 no" performanceId="" areaId="4" data-areaName="B1"></li>
          <li class="area5 no" performanceId="" areaId="5" data-areaName="C3"></li>
          <li class="area6 no" performanceId="" areaId="6" data-areaName="B2"></li>
          <li class="area7 no" performanceId="" areaId="7" data-areaName="A2"></li>
          <li class="area8 no" performanceId="" areaId="8" data-areaName="C2"></li>
          <li class="area9 no" performanceId="" areaId="9" data-areaName="D2"></li>
          <li class="area10 no" performanceId="" areaId="10" data-areaName="VIP"></li>
          <li class="area11 no" performanceId="" areaId="11" data-areaName="VVIP"></li>
          <li class="area12 no" performanceId="" areaId="12" data-areaName="C4"></li>
          <li class="area13 no" performanceId="" areaId="13" data-areaName="B3"></li>
          <li class="area14 no" performanceId="" areaId="14" data-areaName="B4"></li>

        </ul>
        <p class="area15"></p>
      </div>
      <p class="areaInfo"><img src="images/areainfocn.png" alt="区域详情"></p>
    </div>
    <div class="ticketInfo">
      <div class="tips">订票信息</div>
      <div class="justSolid">
        <div class="red"></div>
        <div class="grey"></div>
      </div>
      <div class="info">
        <p class="timeTitle">演出时间</p>
        <p class="time">2016-08-30 20:15</p>
      </div>
    </div>
  </div>
</section>
<script src="/javascripts/jquery-1.8.2.min.js"></script>
<script src="/javascripts/jquery.session.js"></script>
<script src="/javascripts/chooseArea.js"></script>
</body>
</html>