<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>用户登录</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel="stylesheet" href="/stylesheets/chooseDate.css">
</head>
<body>
<section class="headInfo">
  <div class="myOrder">
    <img src="images/peo_02.png" alt="我的订单">
    <span>我的订单</span>
  </div>
  <div class="phone">
    <img src="images/headerIphoneIcon.png" alt="phoneLog" class="phoneImg">
    <img src="images/headerIphone_950.png" alt="phoneNumber" class="phoneNum">
  </div>
</section>
<section class="center">
  <nav class="nav">
    <ul>
      <li>&nbsp</li>
      <li><a href="#">西双版纳</a></li>
      <li><a href="#">长白山</a></li>
      <li class="banner"><img src="images/bannera.png" alt="banner"></li>
      <li><a href="#" class="nav_selected">武汉</a></li>
      <li><a href="#">南昌</a></li>
      <li><a href="#">合肥</a></li>
    </ul>
  </nav>
  <div class="main">
    Hello World!
  </div>
</section>
<script src="/javascripts/jquery-1.8.2.min.js"></script>
<script src="/javascripts/jquery.session.js"></script>
<script src="/javascripts/chooseDate.js"></script>
<script src="/javascripts/showPerformanceDate.js"></script>
</body>
</html>
