<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/stylesheets/manage.css">
    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/manage.js"></script>
</head>
<body>
<div class="head2">
    <img src="/images/index_logo.png" alt="万达logo">
    <div class="loginInfo" id="loginInfo">
        <span id="manager"><%= user %></span>，欢迎进入后台管理系统
        <span id="nowDate"></span>
    </div>
    <ul class="menuList">
        <li><a>产品管理</a></li>
        <li><a id="chaDing">订单管理</a></li>
        <li><a>售卖查看</a></li>
    </ul>
</div>
<div class="content">
    <div class="addProduct">
        <div class="leftModel">
            <ul>
                <li>游玩日期:
                    <select name="" id="playDate">
                        <option value="">请选择观影日期</option>
                        <option value="1995">2017-06-27</option>
                        <option value="1996">2017-06-28</option>
                        <option value="1997">2017-06-29</option>
                        <option value="1998">2017-06-30</option>
                    </select>
                </li>
                <li>观影区域:
                    <select id="lookArea">
                        <option>请选择观影区域</option>
                        <option value="1">D1区</option>
                        <option value="3">A2区</option>
                        <option value="4">B1区</option>
                        <option value="5">C3区</option>
                        <option value="6">B2区</option>
                        <option value="7">A2区</option>
                        <option value="9">D2区</option>
                        <option value="10">VIP</option>
                        <option value="11">VVIP</option>
                        <option value="12">C4区</option>
                        <option value="13">B3区</option>
                        <option value="14">B4区</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="rightModel">
            <p>座位图</p>
            <div class="justChooseSeat">
                <div class="leftSeatMap">
                    <ul id="pingmu_bian_1">

                    </ul>
                </div>
                <div class="rightSeatMap">
                    <ul id="pingmu_bian">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="findSelf">
        <table>
            <thead>
            <td>门票名称</td>
            <td>演出时间</td>
            <td>价格</td>
            <td>数量</td>
            <td>出票账户</td>
            <td>订单处理</td>
            </thead>
        </table>
    </div>
    <div class="addProduct">
        <div class="leftModel">
            <ul>
                <li>游玩日期:
                    <select name="" id="playDate">
                        <option value="">请选择观影日期</option>
                        <option value="1995">2017-06-27</option>
                        <option value="1996">2017-06-28</option>
                        <option value="1997">2017-06-29</option>
                        <option value="1998">2017-06-30</option>
                    </select>
                </li>
                <li>观影区域:
                    <select id="lookArea">
                        <option>请选择观影区域</option>
                        <option value="1">D1区</option>
                        <option value="3">A2区</option>
                        <option value="4">B1区</option>
                        <option value="5">C3区</option>
                        <option value="6">B2区</option>
                        <option value="7">A2区</option>
                        <option value="9">D2区</option>
                        <option value="10">VIP</option>
                        <option value="11">VVIP</option>
                        <option value="12">C4区</option>
                        <option value="13">B3区</option>
                        <option value="14">B4区</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="rightModel">
            <p>座位图</p>
            <div class="justChooseSeat">
                <div class="leftSeatMap">
                    <ul id="pingmu_bian_1">

                    </ul>
                </div>
                <div class="rightSeatMap">
                    <ul id="pingmu_bian">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>