<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>万达后台管理系统</title>
    <link rel="stylesheet" href="/stylesheets/manageLogin.css">
    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/manage.js"></script>
</head>
<body>
<div class="header">
    <img src="/images/CRS_logo.png" alt="logo">
    <span id="nowDate"></span>
</div>
<div class="content">
    <div class="loginModel">
        <input type="text" class="userName" placeholder="请输入用户名">
        <input type="password" class="password" placeholder="请输入密码">
        <button id="loginIn">登陆</button>
    </div>
</div>
<div class="footer">Copyright2015 All Right Reserved. 万达集团有限公司</div>
</body>
</html>