<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="/stylesheets/users.css">
</head>
<body>
<section class="headInfo">
    <div class="myOrder">
        <img src="/images/peo_02.png" alt="我的订单">
        <span>我的订单</span>
    </div>
    <div class="phone">
        <img src="/images/headerIphoneIcon.png" alt="phoneLog" class="phoneImg">
        <img src="/images/headerIphone_950.png" alt="phoneNumber" class="phoneNum">
    </div>
</section>
<section class="center">
    <nav class="nav">
        <ul>
            <li>&nbsp</li>
            <li><a href="#">西双版纳</a></li>
            <li><a href="#">长白山</a></li>
            <li class="banner"><img src="/images/bannera.png" alt="banner"></li>
            <li><a href="#" class="nav_selected">武汉</a></li>
            <li><a href="#">南昌</a></li>
            <li><a href="#">合肥</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="dataContainer">
            <table>
                <thead>
                    <td>门票名称</td>
                    <td>演出时间</td>
                    <td>价格</td>
                    <td>数量</td>
                    <td>订单处理</td>
                </thead>
                <!--<tr>-->
                    <!--<td>汉秀D区优待票</td>-->
                    <!--<td>2017-04-19 20:00</td>-->
                    <!--<td>￥165</td>-->
                    <!--<td>2</td>-->
                    <!--<td>-->
                        <!--<button>删除订单</button>-->
                    <!--</td>-->
                <!--</tr>-->
            </table>
        </div>
    </div>
</section>
<script src="/javascripts/jquery-1.8.2.min.js"></script>
<script src="/javascripts/jquery.session.js"></script>
<script src="/javascripts/menuList.js"></script>
</body>
</html>
